# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.env
fastiq_env/

# Environment variables and secrets
.env
*.env.*

# VSCode
.vscode/

# macOS system files
.DS_Store

# Pytest / Coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/

# Logs
*.log

# MyPy / Pylint / other reports
.mypy_cache/
.dmypy.json
.pyre/

# Build artifacts
build/
dist/
*.egg-info/

# SQLite (optional)
*.sqlite3

# Jupyter Notebook (if any)
.ipynb_checkpoints/
